.not-found-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.not-found-container h1{
    text-shadow: 0.5px 0.5px 2px #000000;
}