.list-schools-api{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 800px;
}
.list-schools-api h2{
    margin-top: 50px;
    margin-bottom: 25px;
    text-shadow: 0.5px 0.5px 2px #000000;
}

.search-container{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
    min-width: 400px;
}
.search-container input{
    padding: 5px;
    width: 250px;
    border: 1px solid var(--container-color);
    border-radius: 5px;
}
.search-container button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--button-color);
    text-decoration: none;
    box-shadow: 1px 1px 5px #000000;
}
.search-container button:hover{
    background-color: var(--button-color-hover);
}
.search-container button:active{
    background-color: var(--button-color-active);
}

/* TABLE */
.table-list-school{
    margin-bottom: 50px;
    border-collapse: collapse;
    max-width: 900px;
    min-width: 900px
}
.table-list-school th, .table-list-school td{
    border: 1px solid #000000;
    padding: 8px;
}
.table-list-school th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--container-color);
}
.table-list-school tr:nth-child(even){
    background-color: #d1ebcc;
}
.table-list-school tbody tr:hover {
    background-color: #dbe6d9;
}