.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: var(--container-color);
}
.nav{
    white-space: nowrap;
}
.nav label{
    margin-right: 20px;
}
.header h1{
    margin: 20px;
    text-shadow: 0.5px 0.5px 2px #000000;
}
.header a{
    margin-right: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--button-color);
    text-decoration: none;
    box-shadow: 1px 1px 5px #000000;
}
.header a:hover{
    background-color: var(--button-color-hover);
}
.header a:active{
    background-color: var(--button-color-active);
}
#logout{
    background-color: #e47878;
}
#logout:hover{
    background-color: #ff8484;
}
#logout:active{
    background-color: #e46060;
}