.add-school-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add-school-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
    background-color: var(--container-color);
    box-shadow: 1px 1px 10px #000000;
}
.add-school-form h2{
    margin-top: 20px;
    text-align: center;
    text-shadow: 0.5px 0.5px 2px #000000;
}
.add-school-form button{
    margin: 20px 30px 20px 30px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--button-color);
    box-shadow: 1px 1px 5px #000000;
    cursor: pointer;
}
.add-school-form button:hover{
    background-color: var(--button-color-hover);
}
.add-school-form button:active{
    background-color: var(--button-color-active);
}
.school-input, .location-radio, .shift-checkbox{
    display: flex;
    flex-direction: column;
    margin-top: 20px
}
.school-input input{
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin: 15px 30px 15px 30px;
}
.location-radio, .shift-checkbox{
    align-self: flex-start;
}
.location-radio label, .shift-checkbox label{
    margin: 5px 30px 10px 30px;
}
.location-radio input, .shift-checkbox input{
    margin-right: 10px;
}

.add-school-list-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-school-list-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.add-school-list-card h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 0.5px 0.5px 2px #000000;
}
#td-delete{
    text-align: center;
}
.delete-school-button{
    padding: 5px;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: #e47878;
    box-shadow: 1px 1px 5px #000000;
    cursor: pointer;
}
.delete-school-button:hover{
    background-color: #ff8484;
}
.delete-school-button:active:active{
    background-color: #e46060;
}